ul,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo,
.link,
.info,
.contacts__info {
  text-decoration: none;
}

:root {
  --title-color: #212121;
  --main-color: #757575;
  --accent-color: #2196f3;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --main-white: #ffffff;
  --background-team-color: #f5f4fa;
  --button-hover: #188ce8;
  --icon-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --footer-color: #2f303a;
  --card-item: 3;
  --card-gap: 30px;
  --logo-ff: "Raleway", sans-serif;
  --main-ff: "Roboto", sans-serif;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}
@media (max-width: 767.98px) {
  .card-set {
    display: block;
  }
}
@media (min-width: 1200px) {
  .card-set {
    flex-wrap: nowrap;
  }
}

.card-set-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: var(--main-white);
  overflow-y: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.current {
  color: var(--accent-color);
  position: relative;
}
@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 30px;
  text-align: center;
  color: var(--title-color);
}
@media (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.logo {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  font-family: "Raleway";
}
.logo__primary {
  color: var(--accent-color);
}
.logo__secondary--dark {
  color: var(--title-color);
}
.logo__secondary--white {
  color: var(--main-white);
}
@media (max-width: 767.98px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  min-width: 200px;
  height: 50px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  /* border: none; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
  background-color: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color var(--transition), background-color var(--transition), border-shadow var(--transition);
}
.button:hover, .buttonbutton:focus {
  background-color: #188ce8;
  color: var(--main-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .subscribe-form {
    align-items: flex-end;
    flex-direction: row;
    margin-top: 0px;
    align-items: baseline;
  }
}

@media (max-width: 767.98px) {
  .subscribe-form__label {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .subscribe-form__label {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .subscribe-form__label {
    margin-right: 12px;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  color: var(--main-white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: 1px solid transparent;
}
@media (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

@media (max-width: 767.98px) {
  .subscribe-form .button {
    margin-top: 20px;
  }
}

.button__icon {
  margin-left: 10px;
  fill: var(--main-white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
  overflow-y: scroll;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(45deg);
}

.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  transition: transform var(--transition);
  background-color: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__close-icon {
  fill: var(--title-color);
  display: inline-block;
  transition: fill var(--transition);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
@media screen and (max-width: 380px) {
  .modal__close-btn {
    top: 20px;
  }
}
.modal__close-btn:hover .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-color);
}
@media screen and (max-width: 479px) {
  .modal__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  .modal__title {
    width: 448px;
  }
}

.modal__text {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.05em;
  display: block;
  margin-bottom: 4px;
  color: #757575;
}
@media screen and (max-width: 424px) {
  .modal__text {
    font-size: 10px;
    line-height: 1.666;
  }
}

.modal__label {
  display: block;
}
.modal__label:not(:last-of-type) {
  margin-bottom: 4px;
}
.modal__label:last-of-type {
  margin-bottom: 20px;
}

.modal__wrapper {
  position: relative;
  align-items: center;
}
.modal__wrapper:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-left: 42px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
  transition: border-color var(--transition);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  border-color: var(--transition);
  fill: var(--accent-color);
}

.modal__personal-data {
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  overflow: auto;
  margin-bottom: 30px;
  align-items: center;
  color: #757575;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .modal__personal-data {
    font-size: 10px;
    line-height: 1.16;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .modal__personal-data {
    font-size: 14px;
    line-height: 1.71;
    padding-left: 14px;
  }
}

.modal__public-agreement {
  color: var(--accent-color);
}

.modal__ticker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  flex-shrink: 0;
  fill: #fff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  transition: border var(--transition), background-color var(--transition);
}
.modal__custom-input:focus + .modal__ticker {
  border: 2px solid var(--accent-color);
}
.modal__custom-input:checked + .modal__ticker {
  border: 2px solid var(--accent-color);
  background: var(--accent-color);
}

.placeholder {
  display: block;
  padding: 12px 16px;
  resize: none;
  overflow: auto;
  min-height: 120px;
}
@media (min-width: 1200px) {
  .placeholder {
    width: 448px;
  }
}

.placeholder:placeholder-shown {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
}

.header__contacts {
  margin-left: auto;
}

@media (max-width: 767.98px) {
  .menu-button {
    position: absolute;
    display: inline-flex;
    background-color: transparent;
    border: transparent;
    top: 0;
    right: 15px;
    margin-top: 10px;
    padding: 0;
    margin-right: 15px;
    fill: var(--title-color);
  }
}
.menu-button.is-open {
  position: fixed;
  top: 0px;
  right: 15px;
  z-index: 2;
}
.menu-button:hover .icon-menu-cross, .menu-button:focus .icon-menu-cross, .menu-button:hover .icon-menu, .menu-button:focus .icon-menu {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-menu-cross {
  display: none;
}

.menu-button.is-open .icon-menu-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button .icon-menu {
  display: block;
}

@media (max-width: 767.98px) {
  .menu-container {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    text-align: start;
    justify-content: space-between;
    padding: 48px 40px;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    background-color: var(--main-white);
    transform: translateX(100%);
    transition: transform var(--transition);
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .menu-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .menu-bottom {
    margin-left: auto;
  }
}

.contacts {
  align-items: center;
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .contacts {
    margin-bottom: 64px;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 32px;
  }
}
@media (min-width: 768px) {
  .contacts {
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .contacts__icon {
    display: none;
  }
}

.contacts__info {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color var(--transition);
}
@media screen and (max-width: 479px) {
  .contacts__info {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 480px) {
  .contacts__info {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 767.98px) {
  .contacts__info {
    color: var(--accent-color);
  }
}
@media (min-width: 768px) {
  .contacts__info {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 1200px) {
  .contacts__info {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
  }
}
.contacts__info:hover, .contacts__info:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .mail {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 767.98px) {
  .mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .mail {
    padding-top: 21px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .tel {
    padding-bottom: 21px;
  }
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav__site-nav {
  display: flex;
  padding: 0;
  --card-gap: 50px;
}
@media (max-width: 767.98px) {
  .nav__site-nav {
    display: inline-block;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .nav__site-nav {
    flex-wrap: nowrap;
    margin-left: 88px;
  }
}
@media (min-width: 1200px) {
  .nav__site-nav {
    margin-left: 93px;
  }
}

@media (max-width: 767.98px) {
  .nav__item {
    margin-bottom: 32px;
  }
}

.nav__link {
  display: block;
  color: var(--title-color);
  transition: color var(--transition);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 479px) {
  .nav__link {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav__link {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.menu-social__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.mob-menu__item {
  display: inline-block;
}

@media (min-width: 768px) {
  .mob-menu__list {
    display: none;
  }
}

.mob-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 479px) {
  .mob-menu__link {
    font-size: 11px;
  }
}

.mob-menu__link::after {
  content: "";
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-menu__link--last::after {
  content: "";
  margin-left: 0;
  border-width: 0;
}

.hero {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
  width: 100%;
  height: auto;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/adaptive/mob/mob-herobackgroundimg.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/adaptive/mob/mob-herobackgroundimg@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/adaptive/tab/tab-herobackgroundimg.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/adaptive/tab/tab-herobackgroundimg@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/adaptive/desk/desk-herobackgroundimg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/adaptive/desk/desk-herobackgroundimg@2x.jpg");
  }
}

.hero__title {
  justify-content: center;
  text-transform: uppercase;
  color: var(--main-white);
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 360px;
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

@media (min-width: 1200px) {
  .advantages {
    padding-bottom: 0;
  }
}

.advantages__list {
  --card-item: 1;
}
@media (min-width: 768px) {
  .advantages__list {
    --card-item: 2;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    --card-item: 4;
  }
}

@media (max-width: 767.98px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantages__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
}
@media (min-width: 768px) {
  .advantages__title {
    text-align: start;
  }
}

.advantages__icon-wrapper {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works__item {
  position: relative;
}

.works__thumb-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 70px;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-white);
}

.works__text {
  position: absolute;
  padding-bottom: 27px auto;
}

.team {
  background-color: var(--background-team-color);
  /* .team__link .team__icon {
    fill: var(--icon-color);
  } */
  /* .team__link:hover .team__icon,
  .team__link:focus .icon {

    fill: var(--main-white);
  } */
}
@media (min-width: 768px) {
  .team .team__list {
    --card-item: 2;
  }
}
@media (min-width: 1200px) {
  .team .team__list {
    --card-item: 4;
  }
}
.team .team__item {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 767.98px) {
  .team .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team .team__userpic {
  width: 100%;
}
.team .team__text-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team .team__socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.team .team__socials-item {
  display: flex;
  /* width: 44px;
  height: 44px; */
  /* justify-content: center;
  align-items: center; */
  /* border-radius: 50%; */
}
.team .team__link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  background-color: var(--main-white);
  fill: var(--icon-color);
  transition: background-color var(--transition), fill var(--transition);
}
.team .team__link:hover, .team .team__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-white);
}
.team .team__member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--title-color);
}
.team .team__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.clients__list {
  display: flex;
  --card-item: 2;
}
@media (min-width: 768px) {
  .clients__list {
    --card-item: 3;
  }
}

@media (min-width: 480px) {
  .clients__item {
    width: calc(100% - 30px)/2;
  }
}

.clients__link {
  display: flex;
  border-radius: 4px;
  border: 1px solid currentColor;
  height: 92px;
  justify-content: center;
  align-items: center;
  outline: none;
  color: var(--icon-color);
  transition: color var(--transition);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}

.footer__container {
  display: block;
}
@media (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.address {
  font-weight: 500;
  font-style: inherit;
  margin-top: 20px;
  color: var(--main-white);
}
@media (max-width: 767.98px) {
  .address {
    margin-left: auto;
    margin-right: auto;
  }
}

.address__link {
  font-weight: 400;
  line-height: 1.71;
  display: block;
  margin-top: 9px;
  color: var(--footer-contacts);
  transition: color var(--transition);
}

@media (min-width: 768px) {
  .footer-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer-item-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-bottom: 0;
  }
}

.footer-item {
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .footer-item {
    --card-item: 2;
  }
}
@media (min-width: 1200px) {
  .footer-item {
    text-align: left;
  }
  .footer-item--right {
    margin-left: 70px;
    width: 235px;
  }
}

.footer-item__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .footer-item__title {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .footer-item__title {
    margin-bottom: 20px;
  }
}

.footer__icon {
  fill: var(--main-white);
}

.footer-item__list {
  gap: 10px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .footer-item__list {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .footer-item__list {
    justify-content: flex-start;
  }
}

.footer-item__soc {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  transition: background-color var(--transition);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-white);
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  column-gap: 8px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .filter__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
  }
}
@media (min-width: 768px) {
  .filter__list {
    margin-bottom: 36px;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  border-radius: 4px;
  border: none;
  color: var(--title-color);
  background-color: var(--background-team-color);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
  /* transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.filter__btn:hover, .filter__btn:focus, .filter__btn.current {
  background-color: var(--accent-color);
  color: var(--main-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (max-width: 767.98px) {
  .service__list {
    display: block;
  }
}
@media (min-width: 768px) {
  .service__list {
    display: flex;
    --card-item: 2;
  }
}
@media (min-width: 1200px) {
  .service__list {
    --card-item: 3;
    flex-wrap: wrap;
  }
}

/* .service__list {
  margin-left: -30px;
  margin-top: -30px;
} */
@media (max-width: 767.98px) {
  .service__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}
.thumb__img {
  width: 100%;
}
.thumb .thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition);
}
.service__link:hover .thumb .thumb__overlay, .service__link:focus .thumb .thumb__overlay {
  transform: translateY(0);
}

.thumb__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  color: var(--main-white);
}
@media screen and (max-width: 479px) {
  .thumb__overlay-text {
    font-size: 14px;
    line-height: 1.56;
  }
}

.service__link {
  display: block;
  transition: box-shadow var(--transition);
}
@media (min-width: 768px) {
  .service__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.service__link:hover, .service__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .service__item:nth-child(3n) {
  margin-right: 0;
}
.service__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.cardbox {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  flex-grow: 1;
}
.cardbox .cardbox__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-color);
}
.cardbox .cardbox__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-color);
}/*# sourceMappingURL=main.css.map */